<div class="main">
  <div class="container">
    <div class="about">
      <div class="about-image">
        <%= image_tag('about_image.jpeg') %>
      </div>
      <div class="about-msgbox">
        <p>
          名を明かさずに言葉を遺してみませんか。<br>
          通りすがりに、思いつくままに、訥々と。<br>
          匿名詩集では誰のものでもない詩集に、気軽に詩を寄稿することができます。<br>
          世の中の誰かとひとつの世界を共有してみませんか。
        </p>
      </div>
    </div>
  </div>
</div>