@import "./home";
@import "./poem";
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c|Open+Sans+Condensed:300&display=swap');

$colorBase : #F5F5F5;
$colorTop : rgba(47, 137, 252, 0.9); // #2F89FC
$colorBottom : #40514E;
$colorNotice: #30E3CA;

$colorFontDefault : #3a3a3a;
$colorFontFooter : #FFFEFF;

*{
  box-sizing: border-box;
  margin: 0;
  font-family: 'Open Sans Condensed', 'M PLUS Rounded 1c', 'sans-serif';
  color: $colorFontDefault;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  &:link { color: $colorFontDefault; }
  &:visited { color: $colorFontDefault; }
}

.container {
  margin: 0 auto;
  width: 80%;
  max-width: 1160px;
}

header {
  position:fixed;
  z-index:10;
  top: 0;
  width:100%;
  height: 64px;
  margin-top: 0;
  background-color: $colorTop;
}

header a {
  color: $colorFontDefault;
}

header .header-left {
  float: left;
  line-height: 64px;
  font-size: 24px;
}

header .header-right {
  height: 64px;
  float: right;
}

header .header-right li {
  margin-left: 24px;
  line-height: 64px;
  float: left;
}

body {
  background-color: $colorBase;
}

.notice {
  position: fixed;
  top: 64px;
  height: 32px;
  width: 100%;
  background-color: $colorNotice;
}

.msg-box {
  text-aline: center;
  line-height: 32px;
}

.main {
  padding-top: 96px;
  min-height: 488px;
}

footer {
  height: 160px;
  background-color: $colorBottom;
  margin-bottom: 0;
  color: $colorFontFooter;
  padding-top: 18px;
  
  * {
    color: $colorFontFooter;
    
    .footer-left {
      float: left;
      font-size: 18px;
    }
    
    .footer-right {
      height: 64px;
      float: right;
    
      li {
        margin-bottom: 12px;
      }
      a {
        &:link { color: $colorFontFooter; }
        &:visited { color: $colorFontFooter; }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .container {
    width: 95%;
  }
}